/* COLOR PALLETTE 
FRENCH BLUE: #65AFFF
SPACE CADET: #1B2845
BLUE GRAY: #5899E2
INDIGO DYE: #274060
BEAU BLUE: #C7DBE6
CULTURED: #FAFAFA
*/

/* GLOBAL CSS EDITS */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
    padding: 2em;
    border: 8px solid #274060;
    min-height: 95vh;
    background-color: #FAFAFA;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 6em;
    color: #1B2845;
}

/* INDEX EDITS */

.index-button {
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    padding: 0.5em 0.8em;
    margin: 1em 0;
    border: white;
    background: #65AFFF;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
    transition: 0.2s ease;
}

.index-button:hover {
    background: #fafafa;
    color: #65AFFF;
    border: 3px solid #65AFFF;
}

/* CONTAINER EDITS */

#container {
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.sub-content {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: 1em 0;
    color: rgb(19, 19, 19);
}

/* BUTTON EDITS */

#btn {
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    padding: 0.5em 0.8em;
    margin: 1em 0;
    border: white;
    background: #65AFFF;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
    transition: 0.2s ease;
}

#btn:hover {
    background: #fafafa;
    color: #65AFFF;
    border: 3px solid #65AFFF;
}



.transition {
    transition: 0.2s ease;
}

/* APPENDED CONTENT EDITS */

.read-more-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #274060;
    color: #fafafa;
    padding: 2em;
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 2em
}

.appended {
    margin-bottom: 1.5em;
}

.continue-button {
    text-transform: uppercase;
    color: #274060;
    background: #fafafa;
    text-decoration: none;
    border: 3px solid #fafafa;
    padding: 0.5em;
    transition: 0.2s ease;
}

.continue-button:hover {
    background-color: #60a5ffab;
    color: #fafafa;
}

.carousel-container {
    margin-bottom: 2em;
}

.bluetext {
    color: #65AFFF;
}

/* GO BACK BUTTON */

.go-back {
    font-weight: 600;
    font-family: sans-serif;
    margin: 1em 0;
    font-size: 1.5em;
    text-decoration: underline;
    transition: 0.2s ease;
}

.go-back:hover {
    text-decoration: none;
    color: #1B2845;
}

.btn-spacing {
    margin: 1.5em 0;
}

/* EXAMPLES STYLES */

#compare-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5em;
}

#column1 {
    background-color: rgb(180, 9, 9);
    color: white;
    margin-left: 5px;
    transition: 0.3s ease;

}

#column2 {
    background-color: none;
    color: white;
    margin-left: 5px;
    transition: 0.3s ease;
}

.example-header {
    padding: 1em;
    font-weight: 300;
}

.example-image {
    width: 400px;
    padding-bottom: 1em;
}



/* TRY IT OUT SECTION */

#images-container {
    background: #1B2845;
    margin-bottom: 2em;
    padding: 1em;
}

.example-tweet {
    width: 700px;
    transition: 0.3s;
}

.classified-tweet {
    width: 700px;
    transition: 0.3s ease;
}

.white {
    color: white;
}

#button {
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    padding: 0.5em 0.8em;
    margin: 1em 0;
    border: white;
    background: #65AFFF;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
    transition: 0.2s ease;
}

#button:hover {
    background: #fafafa;
    color: #65AFFF;
    border: 3px solid #65AFFF;
}

#refresh {
    width: 50px;
    cursor: pointer;
}

.fa-refresh {
    color: white;
    margin: 20px 0 10px 0;
    cursor: pointer;
    transition: 0.2s ease;
}

.fa-refresh:hover {
    color: red;
}